/* ! Structural & resets */
body {
  font-family: "Lato", sans-serif;

  /* Offset content by top nav line-height + 2x padding */
  margin: 0 0 0 0;  /* 34px 0 0 0 */
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 0.9em;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

.no-transition {
  /* use to temporarily override css transitions */
  transition: none !important;
}


/* ! Sections (structural) */
section {
  padding: 1.7em 0 4em 0;
  text-align: center;
  color: #fff;
}

h2.section-header {
  margin: 0 0 1.5em 0;
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;

  /* Adjust position so jump-to-anchor looks good with fixed header */
  padding-top: 2em;
}

h2.section-header::before {
  content: "{ ";
  font-weight: 300;
}

h2.section-header::after {
  content: " }";
  font-weight: 300;
}

section p {
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: -0.04em;
}


/* ! Section colors */
.section-main          { background-color: #578e37; }
.section-when          { background-color: #477a7f; }
.section-when h2       {            color: #2b4e52; }
.section-where         { background-color: #9e8f3e; }
.section-where h2      {            color: #5a5217; }
.section-registry      { background-color: #895d96; }
.section-registry h2   {            color: #53395e; }
.section-timeline      { background-color: #bbbbbb; }
.section-timeline h2   {            color: #777777; }


/* ! Individual sections */
.section-main {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: 60% bottom;

  /* Image real size is 750px tall for retina */
  background-size: auto 375px;

  /* Special padding for this one */
  padding: 0.5em 0;
}

.memories {
  font-size: 0.9em;
  margin-left: -22.25em;
  margin-top: 1em;
  width: 15.5em;
  text-align: left;
  color: #ccc;

  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 0.5em 0.5em 0.3em 0.5em;
}

.memories a {
  padding: 0 0 0 0.8em;
  color: #6dd900;
}

.memories .fa {
  width: 1em;
  color: #6dd900;
}

.memories li {
  margin-bottom: 0.2em;
}

.memories li:first-child {
  margin-bottom: 0.4em;
}

/* a wrapper to position offset from center */
.section-main-header-wrap {
  width: 1px;
  margin: 8em auto 4em auto;
  overflow: visible;
}

.section-main-header {
  width: 14.75em;
  margin-left: -20em;
  border-top: 2px solid #6dd900;
  border-bottom: 1px solid #46b408;
}

.section-main h1 {
  font-weight: 300;
  font-size: 2.5em;
  letter-spacing: -0.04em;
  margin: 0;
}

.section-main-subtitle {
  color: #70d900;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.25em;
  text-transform: uppercase;

  /* right margin adjusts for the optical illusion */
  margin: 0 0 0.2em 0.4em;
}

.section-when-header {
  width: 10em;
  padding: 0.1em 0;
  margin: 0 auto;
  border-top: 2px solid #60b7c1;
  border-bottom: 1px solid #57a3ac;
}

.add-to-calendar {
  font-size: 0.9em;
  color: #60b7c1;
  margin: 2em 0 0 0;
}

.add-to-calendar a {
  padding: 0 0 0 0.8em;
  color: #60b7c1;
}

iframe {
  display: inline-block;
  margin: 0 4em 0 -6em;
}

.section-where-wrapper {
  vertical-align: top;
  text-align: left;
  display: inline-block;
}

.section-where-header {
  padding: 5px 0;
  border-top: 2px solid #c7b42c;
  border-bottom: 1px solid #b5a40b;
}

p.address {
  font-size: 1.5em;
  margin: 1.2em 0 0 0;
}

.check-out-photos {
  margin: 1.2em 0 0 0;
}

.section-where a,
.check-out-photos,
.check-out-photos a {
  color: #d3bf07;
}

.check-out-photos a {
  padding: 0 0 0 0.8em;
}

.section-registry-header {
  width: 50em;
  margin: 0 auto;
  padding: 15px 20px;
  border-top: 2px solid #deb0f2;
  border-bottom: 1px solid #b386c6;
}

.section-registry p {
  font-size: 1.5em;
  letter-spacing: 0;
  margin: 0 0 2em 0;
}

.section-registry-header a:hover {
  text-decoration: none;
}

.section-registry-header img {
  margin: 0 1.75em;
  transition: opacity 0.5s;

  /* Image real size is 82px tall for retina */
  height: 41px;
}

.section-registry-header img:hover {
  opacity: 0.6;
}


/* ! Navigation */
div.nav {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 0.9em;
  line-height: 0.9em;
  font-weight: 300;
  text-align: center;

  position: fixed;
  z-index: 101;
  width: 100%;
  top: 0;
  padding: 0.7em 0;
}

.nav-label {
  color: #aaa;
}

.nav-list,
.nav-list li {
  display: inline;
}

.nav-list li {
  margin: 0 0.75em;
}

.nav-list li a {
  color: #fff;
  font-size: 1em;
}

.nav-list li a {
  transition: color 0.5s;
}


/* ! Schedule */
section.schedule {
  color: #333;
  text-align: left;
  padding-left: 1em;
  padding-top: 0;
}

section.schedule h2 {
  margin-top: 2em;
}

dt {
  margin: 1em 0 0.5em 0;
  font-weight: bold;
}

dd {
  margin: 0 0 0 1em;
}

dd.who {
  color: #80C497;
  font-size: 0.9em;
  font-style: normal;
  padding-left: 0.15em;
}
